//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
    .translate(0, -25%);
    .transition-transform(~"0.3s ease-out");
  }
  &.in .modal-dialog { .translate(0, 0) }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  margin: 10px auto;
  width: @modal-60;
}

.modal-dialog.modal-90  { width: @modal-90; }
.modal-dialog.modal-80  { width: @modal-80; }
.modal-dialog.modal-70  { width: @modal-70; }
.modal-dialog.modal-50  { width: @modal-50; }
.modal-dialog.modal-40  { width: @modal-40; }
.modal-dialog.modal-30  { width: @modal-30; }
.modal-dialog.modal-20  { width: @modal-20; }
.modal-dialog.modal-10  { width: @modal-10; }

// Actual modal
.modal-content {
  position: relative;
  background-color: @modal-content-bg;
  border: 1px solid @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid @modal-content-border-color;
  border-radius: @border-radius-large;
  .box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: @zindex-modal-background;
  background-color: @modal-backdrop-bg;
  // Fade for backdrop
  &.fade { .opacity(0); }
  &.in { .opacity(@modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  padding: @modal-title-padding;
  border-bottom: 1px solid @modal-header-border-color;
  min-height: (@modal-title-padding + @modal-title-line-height);
}
.modal-header-default {
  .modal-header-color(@brand-default,@gray-darker)
}
.modal-header-primary {
  .modal-header-color(@brand-primary)
}
.modal-header-success {
  .modal-header-color(@brand-success)
}
.modal-header-info {
  .modal-header-color(@brand-info)
}
.modal-header-warning {
  .modal-header-color(@brand-warning)
}
.modal-header-danger {
  .modal-header-color(@brand-danger)
}
.modal-header-inverse {
  .modal-header-color(@brand-inverse)
}
.modal-header-purple {
  .modal-header-color(@brand-purple)
}
.modal-header-pink {
  .modal-header-color(@brand-pink)
}

// Close icon
.modal-header .close {
  margin-top: -5px;
  font-size: 35px;
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: @modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: @modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: @modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid @modal-footer-border-color;
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@media (max-width: @screen-xs-max) {
  .modal-dialog {
    width: @modal-90;
  }
}
@media (min-width: @screen-sm-min) {
  .modal-content {
    .box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
}

