<style type="text/css">
	body {
  background: #e2e1e0;
  text-align: center;
}

.card {
  background: #fff;
  border-radius: 40px;
  /*display: inline-block;*/
  height: 50px;
  margin: 1rem;
  position: relative;
  width: auto;
  max-width: 400px;
  opacity: 0.7;
}

.card-5 {
	background-color: cyan;
 	height: auto;
  	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-5 > p {
	padding: 20px;
  	font-size: 1.7em;
}


.container{
	/*display: inline-block;*/
	height: 400px;
	background: rgb(2,0,36);
	background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
}

.img{
	height: 100%;
}

.contain-card{
	margin-bottom: 50px;
}

.contain-img{
	height: 90%;
	width: auto;
}

.block{
	margin-left: 150px;
	display: inline-block;
}

</style>

<div class="container">
	<div class="contain-card block">
		<div class="card card-5">
			<p>8éme edition 6 et 7 février 2020</p>
		</div>

		<div class="card card-5">
			<p>Un évenement scientifique trois approches des omiques</p>
		</div>

		<div class="card card-5">
			<p>Workshop Conférences Soirée vulgarisation</p>
		</div>
	</div>

	<div class="contain-img block">
		<img class="img" src="Logo_blanc.png">
	</div>
	
</div>
