<!--Bas de page-->

<footer>
    <div class="footer-mod">
        <br/>
        <!-- <p>MOD2020</p> -->
        <h1 class="deepshadow">MOD2020</h1>
        <span class="icon-stack icon-2x">
            <a href="https://www.facebook.com/Montpellier-Omics-Days-1873060296269162/?hc_ref=ART2CxxlNvG5Twb-z2vJ-2f02VKC4frinCwRNSoZzTKQkDolA9V31lvD_zBEFz4gv64&fref=nf" target="_blank"><i class="icon icon-facebook icon-stack-1x"></i></a>
        </span>
        <span class="icon-stack icon-2x ">
            <a href="https://twitter.com/OmicsDays" target="_blank"><i class="icon icon-twitter icon-stack-1x"></i></a>
        </span>
    </div>
</footer>

</div>



<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script> -->
<script src="js/bootstrap.js"></script>
<script src="js/main.js"></script>
<script src="style.js"></script>
</body>
</html>