/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* slidedown */

.container{
   height: 200px;
   background-color: #FFF;
   padding: 20px;
   margin-top: 20px;
   border-radius: 10px;
   box-shadow: 2px 3px 3px;
}

.mask_container{
    overflow: hidden;
    height: 0px;
    /*border: 2px solid black;*/
}

.visible_mask_container{
    height: auto;
}


.visible_mask_container_hide{
    height: 0px;
}

.outer-div {
    padding: 30px;
}

.inner-div {
    margin: 0 auto;
    width: 40px;
}

/* Button arrow */

.glyphicon {
    font-size: 3em;
    cursor: pointer;
    color: black;
    text-shadow: 0 7px 7px rgba(0,0,0,.6);
}

.glyphicon-chevron-down{
    -webkit-animation: rotate_down 0.7s ease-in-out;
    animation: rotate_down 0.7s ease-in-out;
}

.glyphicon-chevron-up{
    -webkit-animation: rotate_up 0.7s ease-in-out;
    animation: rotate_up 0.7s ease-in-out;
}

@keyframes rotate_down {
    0% {
        transform: rotate(0.5turn);
    }

    100% {
        transform: rotate(0turn);
    }
}
@-webkit-keyframes rotate_down {
    0% {
        transform: rotate(0.5turn);
    }

    100% {
        transform: rotate(0turn);
    }
}


@keyframes rotate_up {
    0% {
        transform: rotate(0.5turn);
    }

    100% {
        transform: rotate(0turn);
    }
}
@-webkit-keyframes rotate_up {
    0% {
        transform: rotate(0.5turn);
    }

    100% {
        transform: rotate(0turn);
    }
}


