@import url('fonts/opensans/stylesheet.css');
@import url('fonts/roboto/stylesheet.css');

@font-face {
    font-family: "texgyreadventor";
    src: url('fonts/TeX-Gyre/texgyreadventor-bold.otf');
}

* {-moz-box-sizing: border-box; box-sizing: border-box;}

body
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);*/
}

/* for chrome */
::-webkit-scrollbar {
    width: 7px;
    
}
 
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(5,250,0,0.3);*/
    background-color: white;
}
 
::-webkit-scrollbar-thumb {
    background-color: #3bb4d8;
    outline: 1px solid slategrey;
    border-radius: 20px;
}

::scrollbar {
    width: 7px;
    
}
 
::scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(5,250,0,0.3);*/
    background-color: white;
}
 
::scrollbar-thumb {
    background-color: #3bb4d8;
    outline: 1px solid slategrey;
    border-radius: 20px;
}

h1, h2, h3, h4, h5
{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

h2, h3
{
    font-weight: bold;
}


.container-fluid>.navbar-collapse{
    margin: 0 auto;
    margin-right: inherit;
    margin-left: inherit;
    max-width: 1000px;/*A changer selon ...*/
}

#banniere {
    position: relative;
    padding: 0;
    display: block;
    overflow: hidden;
    margin: 0 auto;
}

#banniere-container {
    max-width:1500px;
    position: relative;
    float: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 70rem) {
    #banniere-container {
        display:block;
    }

    #bloc_banniere_1,#bloc_banniere_2 {
        display:none;
    }

    #logo_MOD {
        text-align: center;
    }
}

.footer-mod {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    border-radius: 7px;
    box-shadow: 3px 3px 3px grey;
}

#bloc_banniere_2 {
    /*margin-top:60px;*/
    text-transform:uppercase;
    width: 100%;
    display: flex;
}

#bloc_banniere_2 > p {

    font-size:22px;
    font-weight: bold;
    color:#1a636d;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: auto;
}

#bloc_banniere_1 > p {
    font-size:20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color:black;
    text-align: right;
}

#navigation {
    margin-top:5px;
    background-color: #EFEFEF;
    /* ??? */
    /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);*/
}

#navigation header {
    width:100%;
    top:0;
    height:80px;
    z-index:100;
}

#navigation header.fixed {
    position:fixed;	
}

#content {
    margin-top:50px;
    float:none;
    max-width:1200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    width:100%;
}

.scrolled {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.6);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#primary {
    font-size: 18px;
    line-height: 1.5em;
    min-width:65%;
}

#primary h2 {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

#secondary {
    margin:1%;
    min-width:17%;
}

@media (min-width: 70rem) {

  #content {
    flex-direction: row;
  }
  #primary {

  }
  #secondary {
  }
}

.log_text{
    display: table-cell; /* comportement visuel de cellule */
    vertical-align: middle;
}

.log_text:nth-child(2){
    width: 800px;
}

h1#text-sns{
    color: #fff;
    font: 25px/1 'texgyreadventor';
}

#logo{
    width: 70px;
    height: 70px;
}

#container-text-logo-sns{
    background-color: #777;
    border-radius: 0px 0px 9px 9px; 
    background: rgb(5,83,133);
    background: linear-gradient(0deg, rgba(5,83,133,1) 0%, rgba(0,140,185,1) 100%);
}

@media (max-width: 70rem) {
    h1#text-sns{
        color: #fff;
        font: 15px/1 'texgyreadventor';
    }
}

article
{
    background-color: #ffffff;
    padding:20px;
    /* margin:1%; */
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    /* border: 1px solid #C0C0C0; */
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 3px 3px 3px 0 #A9A9A9;
    -webkit-box-shadow: 3px 3px 6px #A9A9A9;
    box-shadow: 3px 3px 3px 0 #A9A9A9;
}

.champ_erreur
{
    color: #a94442;
    border-color: red;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px red;
}

#formulaire
{
    padding: 10px;
}

#third
{
    margin-left: 1%;
    margin-right: 1%;
}

#third h3 {
    text-align: center;
}

#liste-dates > ul {
    margin: 0; padding: 0;
    border: none;
    font-size: 0.9em;
    color: #1a636d;
}


#liste-dates > ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    padding: 10px;
    padding-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;		
    word-wrap: break-word;
    outline: none;
    /* border: 1px solid gray;	 */
    background: #ddd;
    background-color: #2fc5d8;
    font-size: 1.1em;
    box-shadow: 1px 2px 5px grey;

/* 	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#3bb4d8), to(#fefefe));
    background: -moz-linear-gradient(#3bb4d8, #fefefe);
    background: linear-gradient(#3bb4d8, #fefefe);	 */
}

@media screen and (min-width: 1120px) {
    #liste-dates > ul li#affiche{
        background-color: transparent;
        box-shadow: none;
        padding: 0;
    }
}

@media screen and (max-width: 1119px) {
    #liste-dates > ul li#affiche{
        background-color: transparent;
        box-shadow: none;
        width: 100%;
    }
    #liste-dates > ul li#affiche img{
        
        width: 100%;
    }
}


#date {
    display: block;
    width: auto;
    padding: 3px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;

}

#content_partenaire {
    display:flex;
    flex-direction: column;
    float:none;
    max-width:1200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
}

.table_fixed_codepen{
    display: none;
}

#logo_MOD{
    width: 19%;
}


#logo_header{
    width: 100%;
}

#logo{
    overflow: hidden;
}

#logo img{
    width: 100%;

}

img{
    width: 100%;
}

#container-img-students-big{
    display: none;
    position: fixed;
    top: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 5000;
    margin-left: -8px;
}

.div-opacity-fond{
    position: absolute;
    opacity: 0.5;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.div-stud-in{
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 70%;
    z-index: 12;
}

.div-stud-in img{
    width: 100%;
    z-index: 12;
}

#content_programme {
    max-width:1200px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
    padding-top:20px;
    padding-left:30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /*background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);*/
}

#liste_partenaire {
    margin-top:50px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    margin-top:30px;
    border-bottom: 1px solid #eeeeee;
}

#partenaire {
    width:auto;
    height:200px;
    float:none;
    margin-top:10px;
    max-width:100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2% auto;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}


#partenaire > a img{
    width:auto;
    max-width:100%;
    height:auto;
    max-height:100%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    display: inline-block;
}

@media (min-width:48rem) {
    #liste_partenaire {
        flex-direction: row;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    #partenaire a{
        height: 100%;
        display: inline-block;
        line-height: 200px;
    }
}

@media (max-width:48rem) {
    #liste_partenaire {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
}

.fa-envelope-o:before {
    content: "\f003";
}

.fa-3x {
    font-size: 3em;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.contact {
    visibility: visible;  
    -webkit-transform: scale(1); 
    opacity: 1;
    transform: scale(3); 
    opacity: 1;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; 
    transition: transform 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.6s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; 
}

/* Correction couleurs fond navbar */
.navbar {
    font-family: 'Open Sans';
    background-image: -webkit-linear-gradient(top, #2fc5d8 0, #2bb4c5 100%);
    background-image: -o-linear-gradient(top, #2fc5d8 0, #2bb4c5 100%);
    background-image: linear-gradient(to bottom, #2fc5d8 0, #2bb4c5 100%);

}

/* Correction couleur font élément actif (copié depuis bs pour éviter le !important)*/
.navbar-info .navbar-nav > .open > a, .navbar-info .navbar-nav > .active > a, .navbar-info .navbar-nav > .open > a:hover, .navbar-info .navbar-nav > .active > a:hover, .navbar-info .navbar-nav > .open > a:focus, .navbar-info .navbar-nav > .active > a:focus
{
    background: #1a636d repeat scroll 0 0;
}

/* Correction couleur texte navbar */
.navbar-info .navbar-nav > li > a
{
    color: #000000;
    font-weight: 100;
}

.btn-primary
{
    background-image: -webkit-linear-gradient(top, #2fc5d8 0, #2bb4c5 100%);
    background-image: -o-linear-gradient(top, #2fc5d8 0, #2bb4c5 100%);
    background-image: linear-gradient(to bottom, #2fc5d8 0, #2bb4c5 100%);
    border-color: #2bb4c5;
}

#formulaire .control-label,
#formulaire .form-control
{
    display: inline-block;
}

#formulaire .control-label
{
    width: 14%;
    margin-right: 1%;
    text-align: right;
}

#formulaire .form-control
{
    width: 84%;
}

/* #formulaire .checkbox
{
    width: 84%;
    margin-left: 15%;
} */

@media screen and (max-width: 768px)
{
    #formulaire .control-label
    {
        width: 100%;
        padding-left: 5px;
        text-align: center;
        padding-left: 0;
    }

    #formulaire .form-control
    {
        width: 100%;
    }
}

#formulaire .checkbox-label-text
{
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 1.1em;
}

/* Fix couleurs onglets de la page contact */
ul#myTab li a
{
    color: #2fc5d8;
}

ul#myTab li.active a
{
    color: #555555;
}

/* Changement taille de texte de la page contact */

div#contact-content
{
    max-width: auto;
    margin: 0 auto 10px;
    font-size: 1.1em;
}

/* Page programme */
/*table.prog-conf
{
    display: block;
}*/

table.prog-conf td.transition-row
{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

/* Lignes normales */
table.prog-conf td:first-child
{
    text-align: right;
}

table.prog-conf td:nth-child(2)
{
    text-align: center;

}

table.prog-conf td:nth-child(3)
{

}

table.prog-conf td:nth-child(4) , table.prog-conf th:nth-child(4)
{
    width: 50%;
}


/* Lignes flash talk (après la première) */

table.prog-conf tr.flash-talk td:nth-child(2)
{
    text-align: left;

}

table.prog-conf td span.intervenant-origine
{
    font-style: italic;
    color: #777777;
}

/* #content_partenaire {
    background-color: white; 
    border: 1px solid #C0C0C0;
    -moz-box-shadow: 3px 3px 3px 0 #A9A9A9;
    -webkit-box-shadow: 1px 1px 3px #A9A9A9;
    box-shadow: 3px 3px 3px 0 #A9A9A9;
    margin-bottom:15px;
}*/

table.prog-ws
{
    margin-top: 10px;
}

table.prog-ws td.transition-row
{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

table.prog-ws td:first-child,
table.prog-ws th:first-child,
table.prog-ws td:nth-child(3),
table.prog-ws th:nth-child(3)
{
    border-right-width: 3px;
}

table.prog-ws td:first-child,
table.prog-ws th:first-child
{
    width: 10%;
    text-align: right;
}

#thumb-affiche
{
    box-shadow: 3px 3px 5px 1px #AAA;
}

div#primary article p
{
    text-align: justify;
}

@media screen and (min-width: 600px) {

    #thumb-affiche
    {
        float: right;
        /*margin-left: 15px;*/
        /*width: 250px;*/
    }
}

/*Rogner l'image etudiants*/
.fig_student{
    border-radius: 3px 3px 0px 0px;
    overflow: hidden;
    height: 420px;
}

/*Rogner l'image etudiants*/
#student_img{
    margin: -70px 0px 0px 0px;
}

#student_img:hover{
    cursor: pointer;
}

#img_sns{
    border-radius: 0px 0px 4px 4px;
}

.hover08{
    display: initial;
}

/* Gray Scale */
.hover08 figure img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover08 figure:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


@media (max-width: 70rem) {
    .hover08 {
        display: none;
    }
}

#div-mobil {
    display: initial;
}

@media (min-width: 70rem) {
    #div-mobil {
        display: none;
    }
}

/* effect swing  */

.rotate-in-center {
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-27 15:28:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}


/* swing text */


.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-27 21:13:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-27 22:15:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
}

.spinner {
    position: absolute;
    top: 50%; /* centers the loading animation vertically one the screen */
    left: 50%; /* centers the loading animation horizontally one the screen */
    width: 3.75rem;
    height: 1.25rem;
    margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
    text-align: center;
}

.spinner > div {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: #00bfd8;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}



@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0); }
    40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        -ms-transform: scale(1.0);
        transform: scale(1.0);
    }
}



